<h3><%= @queried_team.name %> <br>Total Score: <%= @queried_team.team_score(1) %></h3>
<div id="team_members">
  <h4>Team Members:</h4>
  <ul class="sortable" style="min-height: 10px;">
    <% unless @queried_team.politicians.nil? %>
      <% @queried_team.politicians.each_with_index do |sleazeball, index| %>
        <li class="name pol-<%= index %>" rel="<%= sleazeball.id %>"><img src="/images/mugshots_sm/<%= sleazeball.bioguide_id %>.jpg" class="pol"> <%= sleazeball.info %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<% if @access %>
 <input value="Update My Team!" type="submit" id="update" class="button">
  <div id="availablePoliticians">
    <input type="text" id="filterInput" placeholder="Filter Politicians here">
    <ul class="sortable">
    </ul>
  </div>

  <div id="hidden" class="hidden">
    <ul>
      <% @politicians.each_with_index do |sleazeball, index| %>
        <li class="pol-<%= index %>" rel="<%= sleazeball.id %>">
          <span class="name"><img src="/images/mugshots_sm/<%= sleazeball.bioguide_id %>.jpg" class="pol"> <%= sleazeball.info %></span>
        </li>
      <% end %>
    </ul>
  </div>

<% end %>
